PORT=3003
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=bookingdb
KAFKA_BROKERS=localhost:9092
EVENT_SERVICE_URL=http://localhost:3001
USER_SERVICE_URL=http://localhost:3002
